<div id="technology-selector-container">
    <div id="technology-selector-card-left">
        <app-card img="assets/img/jakartaee.png"
                technology="Jakarta EE"
                port="8080"
                pro="fast"
                contra="heavy memory usage">
        </app-card>
    </div>
    <div id="technology-selector-switch">
        <app-switch></app-switch>
    </div>
    <div id="technology-selector-card-right">
        <app-card img="assets/img/springboot.png"
                technology="Spring Boot"
                port="8081"
                pro="low memory usage"
                contra="slow">
        </app-card>
    </div>
</div>
